/* @theme nf-theme */

@import 'default';

h1, h2, h3 {
  color: #193251;
}

section {
  color: #193251;
}

h1{
  text-align: center;
}

/* left right split */

section.hsplit {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-column-gap: 48px;
}

section.hsplit h1, h2{
  grid-column: span 2;
}